.query-form {
  min-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}
