input {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 0.6em;
  width: 100%;
}

datalist {
  display: none;
  width: 100%;
}

datalist option {
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
}
