.result-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.results-list {
  list-style-type: none;
  padding: 0;
}

.result-item {
  margin-bottom: 10px;
  padding: 5px;
}
